@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

footer {
    background-color: #0d0d0d;
    color: #D9D0C7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 133px;
}

footer a {
    color: #D9D0C7;
    text-decoration: none;
    margin-right: 20px;
    position: relative;
}

footer a:hover {
    text-decoration: underline; 
    text-decoration-color: #f2bf5e;
}

.logo-footer, .baixeNossoApp {
    display: inline-block;
    vertical-align: middle;
}

.logo-footer, .announcement-img {
    width: 180px;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin-left: 140px;
}

.links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links ul li {
    display: inline-block;
    margin-right: 130px;
}

.links a {
    text-decoration: none; 
    color: #D9D0C7; 
    font-weight: 400px;
    font-size: 18px;
}

.links p {
    margin: 0;
    margin-right: 20px; 
    font-weight: 400px;
    font-size: 15px;
    text-align: center;
}