* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #262626;
}

.conteiner-user {
    width: 96.5%;
    height: 160px;
    background-color: #595959;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    margin: 25px 16px;
}

.profile-user {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-user {
    width: 110px;
}

.data-user {
    padding: 10px;
}

.data-user p1 {
    font-size: 20px;
    color: #D9D0C7;
}

.data-user p2 {
    font-size: 12px;
    color: #FEC163;
}

.btn-register-game {
    background-color: #262626;
    color: #D9D0C7;
    border-radius: 4px;
    width: 146px;
    height: 36px;
}

.btn-register-game:hover {
    cursor: pointer;
}

.btns {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn-config:hover {
    cursor: pointer;


}

.btn-back {
    margin-right: 20px;

}

.btn-back:hover {
    cursor: pointer;
}