@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #595959;
}

.logo img {
  width: 210px;
  height: 67px;
  position: absolute;
  top: 10px;
  left: 4rem;
}

.navigation {
  position: relative;
  height: 37rem;
}

.navigation::before {
  border-radius: 10px;
  content: "";
  background-image: url(../assets/image/f23-authenticity-labombonera-16x9.jpg.adapt.crop16x9.1455w.webp);
  background-size: cover;
  height: 37rem;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.nav-txt {
  font-family: Open Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  position: absolute;
  left: 40.3%;
  top: 12rem;
  color: #ffffff;
}

.nav-txt span {
  color: #f1bf5e;
  font-weight: bold;
  font-family: Open Sans;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
}

.search-box {
  position: absolute;
  left: 40%;
  top: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d9d0c7;
  width: 292px;
  height: 41px;
  padding: 10px;
  border-radius: 25px;
}

.search-box img {
  height: 20px;
  width: 20px;
}

.search-box img:hover {
  cursor: pointer;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  font-family: Open Sans;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}

.search-txt::placeholder {
  color: black;
}

.login-btn {
  position: absolute;
  top: 8.5rem;
  background: #d9d0c7;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  left: 80%;
  cursor: pointer;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
}

.sidebar {
  position: absolute;
  left: -250px;
  width: 250px;
  height: 624px;
  background-color: rgba(13, 13, 13, 0.95);
  color: white;
  transition: all 300ms ease-in-out;
  border-radius: 10px;
}

.image-user {
  width: 80px;
  margin-top: 10px;
  margin-left: 10px;
}

.my-profile-btn {
  background-color: #262626;
  color: #d9d0c7;
  border-radius: 4px;
  width: 100px;
  height: 36px;
  margin-left: 20px;
}

.my-profile-btn:hover {
  cursor: pointer;
}

.sidebar .toggle-btn {
  position: absolute;
  top: 10px;
  right: -40px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.sidebar .toggle-btn span {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #111;
  transform: translateY(-50%);
  transition: all 300ms ease-in-out;
}

.sidebar .toggle-btn span:nth-child(1) {
  top: 10%;
  background: #ffffff;
}

.sidebar .toggle-btn span:nth-child(2) {
  top: 50%;
  background: #ffffff;
}

.sidebar .toggle-btn span:nth-child(3) {
  top: 90%;
  background: #ffffff;
}

.sidebar .active {
  left: 0px;
}

.sidebar .active .toggle-btn span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.sidebar .active .toggle-btn span:nth-child(2) {
  display: none;
}

.sidebar .active .toggle-btn span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.menu {
  padding: 1rem;
  font-size: 12px;
  margin-left: 10px;
}

.menu input {
  position: absolute;
  opacity: 0;
  margin-top: 10px;
  height: 19px;
  width: 19px;
}

.menu input + label::before {
  content: "";
  width: 18px;
  height: 18px;
  margin-top: 10px;
  border-radius: 3px;
  background: #595959;
  border: 1px solid;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 12px;
}

.menu input:checked + label::before {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
  border: 1px solid #f1bf5e;
}

.menu h1,
h2 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.line-menu {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 150px;
  border-color: #f1bf5e;
}

.catalog1 {
  display: flex;
  background-color: #0d0d0d;
  height: 464px;
  color: #d9d0c7;
  padding: 3rem;
  text-align: center;
  margin: 50px 0 50px 0;
}

section {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #0d0d0d;
  width: 100%;
}

section h1 {
  font-family: Open Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #d9d0c7;
  padding: 10px;
}

.catalog1 {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.games1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.games1 > div {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
  text-align: center;
  color: #fff;
  padding: 10px;
}

.games1 img {
  max-width: 70%;
  height: 75%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.games1 h2 {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.games1 p {
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: left;
}

.games1 h2,
.games1 p {
  opacity: 0;
  transition: opacity 0.3s;
}

.games1 > div:hover h2,
.games1 > div:hover p {
  opacity: 1;
}

.games1 > div:hover {
  background-color: #8c713b;
  transform: translateY(-5px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

.platforms {
  color: #0d0d0d;
}

.games2 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.games2 > div {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
  text-align: center;
  color: #fff;
  padding: 10px;
}

.games2 img {
  max-width: 70%;
  height: 80%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.avaliacao {
  list-style: none;
  padding: 0;
  margin: 0;
}

.star-icon {
  display: inline-block;
  cursor: pointer;
  color: #ffe500;
  font-size: 40px;
  margin-right: 5px;
}

.star-icon::before {
  content: "\2605";
}

.star-icon.ativo ~ .star-icon::before {
  content: "\2606";
}
